body {
    line-height: 20px;
}

#title {
    text-align: center;
}

.sharebuttons i{
    float:none;
    display: inline-block;
}

@media(max-width:768px) {
    .sharebuttons i{
         float: left;
    }
}

.sharebuttons {
    text-align: center;
    margin: auto;
}

#footer-container .sub-logo {
    margin-right: 13px;
}

#title-credits p{
    text-align: center;
}

rect {
    stroke-width: 0;
}

.subtext {
    margin-top: 4px;
    margin-bottom: 4px;
}

.smaller {
    font-size: .8em;
}

.facts {
    padding-top:30%;
}

table.dataTable.dtr-column>tbody>tr>td.control:before, table.dataTable.dtr-column>tbody>tr>th.control:before {
    background-color: #EE9A49;
}

@media (max-width: 993px) {
    .facts {
        padding-top: 5px;
    }
}

.active {
    display: block;
}
#map1 {
    margin-top: 25px;
    padding-top: 10px;
}
@media(min-width:979px){
    #tophat ul {
        display: block!important
    }
} /*redisplays navigation links if closed via hamburger menu*/