body {
    line-height: 20px;
}

#title {
    text-align: center;
}

#disclaimer {
    color: #bbb;
    font-style: italic;
}

.sharebuttons i{
    float:none;
    display: inline-block;
}

@media(max-width:768px) {
    .sharebuttons i{
         float: left;
    }
}

.sharebuttons {
    text-align: center;
    margin: auto;
}

#footer-container .sub-logo {
    margin-right: 13px;
}

#title-credits p{
    text-align: center;
}

rect {
    stroke-width: 0;
}

.subtext {
    margin-top: 4px;
    margin-bottom: 4px;
}

.smaller {
    font-size: .8em;
}

.facts {
    padding-top:30%;
}

#demographics {
    padding: 5px 15px;
}


table.dataTable.dtr-column>tbody>tr>td.control:before, table.dataTable.dtr-column>tbody>tr>th.control:before {
    background-color: #EE9A49;
}

.nav-tabs>li.active>a{
    background-color: #D98719!important;
}

ul.nav-tabs li a {
    color: #D98719;
}

ul.nav-tabs li a:hover{
    background-color: #FFC469;
}

ul.nav-tabs li.active:hover{
    background-color:#CD8500;
}

nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color:#CD8500;
}

@media (max-width: 993px) {
    .facts {
        padding-top: 5px;
    }
}

#line-graph {
    margin-bottom: 15px;
    margin-top: 15px;
}

.active {
    display: block;
}
#map1 {
    margin-top: 25px;
    padding-top: 10px;
}
@media(min-width:979px){
    #tophat ul {
        display: block!important
    }
} /*redisplays navigation links if closed via hamburger menu*/
